<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer>
        <div class="footer">
        <div class="row">
        <a href="https://www.instagram.com/mayur.borse_/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/mayur-borse-7a7543301/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <div class="row">
        <ul>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/privacypolicy">Privacy Policy</a></li>
        </ul>
        </div>
        
        <div class="row">
        TOURTROVE Copyright © 2024 Tourtrove - All rights reserved
        </div>
        </div>
        </footer>
</body>
</html>