<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourTrove</title>
  <link rel="icon" href="assets/titlelogo.jpg" type="image/x-icon">
</head>
<style>
    body {
        background-color: white !important;
        color: black !important;
    }

    .error {
        position: absolute;
        top: 105px;
        left: 32%;
        height: 60px;
        width: 400px;
        background-color: rgba(255, 0, 0, 0.2);
        color: red !important;
        border-radius: 20px;
        font-size: 22px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .explore{
        position: absolute;
        top: 185px;
        left: 41%;
        background-color: red !important;
        width: 160px;
        height: 34px;
        padding-left: 10px;
        padding-top: 6px;
        border-radius: 10px;
    }
    .explore a{
        color: white;
        font-size: 1.1rem;
    }
</style>

<body>
    <%- include("includes/Navbar.ejs") %>
        <div class="error"><b><%= errorMessage %></b></div>
        <div class="explore"><a href="/">Explore Packages</a></div>
        <div style="height: 20px;"></div>
    <%- include("includes/footer.ejs") %>
</body>

</html>
